body{
    background-color: #5d5d5d;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    margin: 0px;
}
#mainHeading {
 color: #000000;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hobby{
    color: #ffffff;
}
#hobbyList{
    color: #ffffff;
}

.highlight {
    color: #0fffff;
}
#introText {
   width: 790px;  
   float: left;
   margin: 0px 10px 10px 0px;
}
#pfp {
    width: 499px; height: 353px;
    float: left;
}
#meme {
   width: 555px; height: 373px;
   background-color: #000000;
   float: left;
}
#hobbies {
   width: 701px; height: 590px;
   background-color: #000000;
   float: left;
}
#socials{
    width: 555px; height: 123px;
    background-color: #000000;
    float: left;
}

.reset{
   clear: both;
}
#pageContainer{
    width: 1440px;
    margin: 0px auto 0px auto;
}